<div>
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Zaloguj się</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="adres email" />
                </br>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="hasło" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-md">zaloguj<i class="LoginUser"></i></a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

