<div>
    <div class="row">
        <div class="col-md-offset-5 col-md-3" style="width:300px; height:400px; background:#f5f5f0">
            <div class="form-login">
                <h4>Zaloguj się</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="adres email" />
                </br>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="hasło" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <button type="button" class="btn btn-default" style="width:auto" onclick="location.href='@Url.Action("MainPanel", "MainPanel")'">Zaloguj</button>
                    </span>
                </div>
            </div>
            <br />
            <div class="form-login">
                <div class="wrapper">
                    <span>Nie masz konta <a>zarejstruj się.</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

