<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-left">
                LOGO
            </p>
            <p class="navbar-text navbar-right">
                <a>UserName</a>
                <a>Avatar</a>
                <a>Wyloguj</a>
            </p>
        </div>
    </div>
</div>

