@using MPocketCommon.Helpers
@using MPocket.Utils
@using EntityDatabase.Models
@model MPocket.Models.BudgetModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-left">
                LOGO
            </p>
    
            <p class="navbar-text navbar-right">
                @Html.Partial("BudgetSummary", Model)
                
                @{
                    SessionManager session = new SessionManager();
                    string name = session.Get<User>(PageConstant.USER_ID_I_SESSION).Name;
                }
                <a>@name</a>
                @*<a>Avatar</a>*@
                @Html.ActionLink("Wyloguj", "Index", "LogOut")
            </a>
        </div>
    </div>
</div>

