<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-btn">Test</button>
        </div>
        <div class="navbar-btn">
            <button class="navbar-right">Test</button>
        </div>
    </div>
</div>

