@using MPocketCommon.Helpers

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-left">
                LOGO
            </p>
    
            <p class="navbar-text navbar-right">
                @Html.Partial("BudgetSummary")
                
                <a>@Session[Session.SessionID + PageConstant.USER_NAME_IN_SESSION]</a>
                @*<a>Avatar</a>*@
                @Html.ActionLink("Wyloguj", "UserLoginView", "UserLogin")
            </p>
        </div>
    </div>
</div>

