
<div>
    <br />
    <ul class="list-group">
        <li class="list-group-item">
            <a>Wydatki</a>
        </li>
        <li class="list-group-item">
            <a>Ustawienia</a>
        </li>
    </ul>
</div>

