
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterUserView</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-offset-5 col-md-3" style="width:300px; height:400px; background:#f5f5f0">
                <div class="form-login">
                    <h4>Zarejestruj się</h4>
                    <input type="text" id="registerName" class="form-control input-sm chat-input" placeholder="Imię" />
                    </br>
                    <input type="email" id="registerEmail" class="form-control input-sm chat-input" placeholder="Email" />
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <button type="button" class="btn btn-default" style="width:auto">Zarejestruj</button>
                        </span>
                    </div>
                </div>
                <br />
                <div class="form-login">
                    <div class="wrapper">
                        <span>Masz już konto? @Html.ActionLink("Zaloguj się.", "UserLoginView", "UserLogin")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
