<dic class="container" >
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" id="Money" type="text" placeholder="Kwota" />
            <input class="form-control" id="Description" type="text" placeholder="Opis" />
            <button type="button"  class="btn btn-default" onclick="location.href='@Url.Action("Index")'">Zapisz</button>
        </div>
    </form>
</dic>


