<dic class="container">
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" id="Money" type="text" value="Kwota" />
            <input class="form-control" id="Description" type="text" value="Opis" />
            <button type="button"  class="btn btn-default">Zapisz</button>
        </div>
    </form>
</dic>


