@model MPocket.ViewsModel.SummaryModel
@{
    ViewBag.Title = "Index";
}
<br />


@{
    decimal i = 0;
    <table class="table">
        <thead>
            <tr>
                <th>Kwota</th>
                <th>Kategoria</th>
                <th>Opis wydatku</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var exp in Model.Summary)
            {
                <tr>
                    <td>@exp.Amount</td>
                    <td>test</td>
                    <td>@exp.Description</td>
                    <td></td>
                </tr>
                i += exp.Amount;
            }
        </tbody>
    </table>
    <br />
    <p>Suma wydatków: <strong style="font-size:medium; font-family:'Century Gothic'">@string.Format("{0:#.00}", i) zł</strong></p>
}


        


